html {
  font-size: 100px;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body,
html {
  width: 100%;
}
body {
  margin: 0 auto;
  height: auto;
  min-width: 320px;
  max-width: 760px;
  font-size: 0.14rem;
  font-family: "微软雅黑";
  background-color: #f7f7f7;
}
ul,
li {
  list-style: none;
}
input,
button,
select {
  outline: none;
}
input,
button,
select,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 760px) {
  body {
    box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, 0.25);
  }
}
.carousel-banner {
  width: 6.9rem;
  height: 3.24rem;
  overflow: hidden;
}
.carousel-banner .carousel-wrap {
  width: auto;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
}
.carousel-banner .carousel-wrap .carousel-img {
  position: relative;
  display: inline-block;
  width: 6.9rem;
  height: 3.24rem;
  font-size: 0.26rem;
  overflow: hidden;
}
.carousel-banner .carousel-wrap .carousel-img img {
  width: 100%;
  height: 100%;
}
.carousel-banner .carousel-wrap .carousel-img .carousel-remarks {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f7f7f7;
}